

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}


.mat-slider-horizontal {
  width:100%;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
  background: white;
  margin: 10px;
  border-radius: 0;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color:#2475c9 !important;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color:#2475c9 !important;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: #2475c9 !important;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.mat-radio-button{
  font-family: 'Montserrat', sans-serif;
}
// ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
//   opacity: 0.5 !important;     /*click effect color change*/
//   background-color: blue !important;
// }

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #2475c9!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
 border-color:#2475c9!important; /*outer ring color change*/
}
::ng-deep.mat-radio-label-content{
  font-size: 14px ;
    font-weight: 500;
    color: #7c7c7c;
}
::ng-deep.mat-slider-track-background {
  background-color:#c9c9c9;
}
// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-bar {
    background: #ffe4d1;
    height: 2px;
  }
  .custom-slider .ng5-slider .ng5-slider-selection {
    background: orange;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: orange;
  }

  .custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: orange;
  }
}

